@charset "UTF-8";

/* TODO load fonts in your markup.
Visit https://fonts.google.com/ select your font, customise your selection, and embed the required fonts */
@import url(https://fonts.googleapis.com/css?family=Oswald:400&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek);
@import url(https://fonts.googleapis.com/css?family=Quicksand:600&subset=latin);

/* NOTE: The following 3 tasks refer to the whole css document. */
/* TODO Group common rules, and properties. */
/* TODO Make this css file more performant: use Bootstrap's css classes, where appropriate, to replace css rules or rule sets. */
/* TODO Last thing to do: Remove redundant rule sets, or properties */


body {
	background-color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* Typography */
body h1, body h2, body h3, body h4, body h5, body h6 {
	color: #333333;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
}

h1 {font-size: 28px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}

p {
	line-height: 24px;
 }

a {
	color: #000000;
 }

a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
 }

blockquote, figure, form p, .ec-main-section, .ec-main-wrapper, .ec-watch-section-btn, .ec-navigation > ul > li, .ec-fancy-title, .widget_text_info ul li,#eccomments {
	position: relative;
}

blockquote {
	padding: 0px 0px 0px 30px;
	margin: 0px 0px 25px 0px;
	font-size: 20px;
	font-weight: 300;
	border-left: 4px double #ddd;
	border-right: 4px double #ddd;
	margin-bottom: 30px;
}
blockquote:before {
	content: "\f10d";
	font-family: FontAwesome;
	position: absolute;
	left: -15px;
	top: -15px;
	font-size: 30px;
	background-color: #fff;
	transform: scaleY(-1);
}
blockquote:after {
	content: "\f10e";
	font-family: FontAwesome;
	position: absolute;
	right: -15px;
	bottom: -15px;
	font-size: 30px;
	background-color: #fff;
}

figure {
	margin-bottom: 6px;
 }

/* TODO Add Bootstrap css class to image elements to make the responsive. Not all images need to be responsive by default. */

/* Forms */


/* TODO Bonus: Explain in one sentence why the following rules set is not recommended. */

.ec-main-content {
	padding: 50px 0 0 0;
}

.ec-featured-star {
	position: absolute;
	left: 0px;
	top: 0px;
}

.ec-bottom-section, .ec-main-navsection {
	background-color: #fff;
}
.ec-sticky .ec-main-navsection {
	box-shadow: 0 0 10px #eee;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

/* TopStrip */
.ec-top-strip,
.ec-footer-widget {background-color: #1a1a1a;}

.ec-strip-info {
	list-style: none;
	padding-top: 5px;
	margin-bottom: 0;
}
.ec-strip-info li {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 0px 40px 0px 0px;
	padding: 7px 0px 6px 0px;
}
.ec-strip-info li i {
	font-size: 16px;
	margin-right: 8px;
}
.ec-strip-info li a { color: #fff; }

.ec-watch-section-btn {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 11px 20px;
}

/* Header main section */
.ec-logo {
	margin: 18px 0;
}

/* Navigation */
.ec-navigation {
    text-align: left;
}
.ec-navigation li {
	list-style: none;
	padding: 0px 19px 0px 19px;
}
/* TODO minimize selector's depth. Add a css class in your markup to target the anchor element. */
.nav-link {
    font-size: 14px;
    color: #343434;
    padding: 35px 0px 37px 0px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.ec-navigation a:before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: 45%;
	margin-bottom: -10px;
	width: 100%;
	height: 2px;
	opacity: 0;
}
.ec-navigation-ul > li:hover > a:before,.ec-navigation-ul > li.active > a:before {
	opacity: 1;
	bottom: 50%;
}
.ec-navigation-ul > li:first-child > a { padding-left: 0px; }
.ec-navigation-ul > li:last-child > a { padding-right: 0px; }

/* FancyTitle */
.ec-fancy-title h1 {
	font-size: 20px;
	margin-top: 0;
}
.ec-fancy-title:before {
	content: '';
	position: absolute;
	left: 0;
	top: -.5em;
	right: 0;
	display: block;
	height: 2px;
	background: -moz-linear-gradient(left,  #3668ca 50%, #e4b83d 0%);
	background: -webkit-linear-gradient(left,  #3668ca 50%,#e4b83d 0%);
	background: linear-gradient(to right,  #3668ca 50%,#e4b83d 0%);
}
/* Simple Title */
.ec-simple-title {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}
.ec-simple-title h2 {
	font-size: 28px;
	margin-bottom: 5px;
}

/* Blog */
.ec-blog-text h2 {
	font-size: 18px;
	margin: 0px 0px 3px 0px;
}

/* Blog Grid */
.ec-blog-grid {
	margin-bottom: 30px;
}
.ec-blog-grid figure {
	margin: 0px;
}
.ec-blog-grid > ul > li {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.ec-blog-wrap {
	background-color: #fff;
}
.ec-blog-text {
	padding: 10px 19px;
}
.ec-grid-time {
	border-top: 1px solid #f3f3f3;
	padding: 10px 19px;
}
.ec-grid-time span {
	color: #999999;
}
.ec-grid-time span i { margin-right: 4px; }

/* UserComment */
.ec-fancy-title { margin-bottom: 30px; }

/* Section Heading */
.ec-section-heading {
	width: 100%;
	margin: 0px 0px 32px 0px;
}
.ec-section-heading h2 {
	margin: 0px 0px 0px 0px;
	font-size: 28px;
}

/* Shop Listing */
.ec-shop > ul > li { margin-bottom: 30px; }
.ec-shop ul li {
	list-style: none;
}
.ec-shop-list figure {
	margin-bottom: 0px;
	overflow: hidden;
}

.ec-shop-list .ec-shopinfo {
	background-color: #fff;
	text-align: center;
	padding: 13px 10px 15px 10px;
	border: 1px solid #f3f3f3;
	border-top: none;
}
.ec-shop-list .ec-shopinfo h2 {
	font-size: 18px;
	margin-bottom: 0px;
}
.ec-shop-list .ec-shopinfo .ec-price {
	display: inline-block;
	color: #555555;
	font-size: 16px;
}

/*  TODO remove the following to rule sets, and add in your markup the bootstrap classes for float left & right */

/* Default Widget */
.ec-main-content .widget {
	width: 100%;
	margin-bottom: 30px;
	background-color: #fff;
}
.ec-main-content .widget_categories ul {
	padding: 2px 24px 11px;
	width: 100%;
}
.ec-main-content .ec-recentnews_widget > ul {
	padding: 14px 20px 0;
	width: 100%;
}

/* Footer */
.ec-footer-widget {
	padding: 50px 0px 40px 0px;
}
.ec-footer-widget .row { margin: 0px -40px; }
.ec-footer-widget [class*="col-md-"] { padding: 0px 40px; }
.ec-footer-widget .widget {
	margin: 15px 0px;
}
.ec-footer-widget p,.ec-footer-widget a {
	color: #979797;
}
.ec-footer-widget h2 {
	color: #fff;
}
.ec-footer-widget .ec-section-heading { margin-bottom: 26px; }
.ec-footer-widget .ec-section-heading h2 {
	font-size: 18px;
}

/* Recent News */
.ec-recentnews_widget ul li {
	list-style: none;
	margin-bottom: 22px;
}

.ec-recentnews_widget ul li figure {
	width: 64px;
	margin: 0px;
}
.ec-recentnews_widget ul li figure ~ section {
	padding-left: 79px;
}
.ec-recentnews_widget ul li section h6 {
	margin-bottom: 0px;
}
.ec-recentnews_widget ul li section span {
	color: #979797;
	font-size: 12px;
	font-weight: 600;
}
.ec-recentnews_widget ul li section span i {
	margin-right: 4px;
}

/* Categories */
.widget_categories ul li {
	width: 100%;
	list-style: none;
	padding: 1px 0px 1px 0px;
	text-align: right;
}

.widget_categories ul li a::before {
	content: "\f0da";
	font-family: FontAwesome;
	display: inline-block;
	padding: 0px 25px 0px 0px;
	color: #979797;
}

/* Newsletter */
.widget_text_info ul {
	width: 100%;
	margin-bottom: 30px;
}
.widget_text_info ul li {
	width: 100%;
	padding: 0px 0px 0px 33px;
	margin-bottom: 2px;
}
.widget_text_info ul li i {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 21px;
	height: 21px;
	color: #999999;
	background-color: #292929;
	text-align: center;
	border-radius: 100%;
	font-size: 11px;
	padding: 5px 0px 0px 0px;
}
.widget_text_info ul li span {
	color: #979797;
	font-weight: 500;
}

.ec-shop,.ec-shop-list figure,.ec-shop-list figure .ec-shop-thumb,
.ec-shop-list figure ul,
.ec-shop-list .ec-shopinfo,
.ec-recentnews_widget ul li,
.ec-recentnews_widget ul li figure a,
.ec-recentnews_widget ul li figure img,
.ec-newsletter,
.ec-newsletter form,
.ec-newsletter form input[type="text"],
.ec-newsletter form input[type="submit"] {
	width: 100%;
}
/* Bottom Section */
.ec-bottom-section {
	padding: 20px 0px;
}

.backtop-btn i {
	width: 22px;
	height: 22px;
	color: #fff;
	background-color: #333;
	font-size: 12px;
	border-radius: 100%;
	margin-left: 5px;
	text-align: center;
	padding: 4px 0px 0px 1px;
}
.fb-anchor {
	position: fixed;
	right: 0px;
	top: 45%;
	background-color: #3b5998;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 11px 20px;
	font-weight: bold;
	z-index: 999;
}
.fb-anchor::before {
	content: '';
	position: absolute;
	right: 0px;
	top: -10px;
	border-bottom: 10px solid #3b5998;
	border-left: 10px solid transparent;
}
.fb-anchor::after {
	content: '';
	position: absolute;
	right: 0px;
	bottom: -10px;
	border-top: 10px solid #3b5998;
	border-left: 10px solid transparent;
}